{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <link rel='stylesheet' type='text/css' href="{% static 'meetups/styles/styles.css' %}" >
    <script src='main.js'></script>
</head>
<body>
<h1>Hello World!</h1>
{% if show %}
    {% for meetup_item in meetups %}
      <p>{{ meetup_item.name}}</p>
    {% endfor %}
{% else %}
    <p>No Meetup found</p>
{% endif %}
</body>
</html>